*{
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0.5rem;
}
.container{
  background-color: #222;
  width: 80%;
  height: 100%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 1
  5px 5px 20px white;
}
.container h1{
  text-align: center;
}

.input{
  background-color: #444;
  border-radius: 0.5rem;
  width: 26rem;
  padding: 0.5rem 1rem;
}

label{
  padding-left: 0.5rem;
}