body{
    background-color: #000000;
    /* color: #fff; */   
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  padding: 2rem;
  align-items: flex-start;
}
 
.card-container{
    max-width: 20rem;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 5px 15px rgb(129, 128, 128);
}

.top-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.top-btn button{
    border-radius: 1rem;
    border: none;
    color: #fff;
    padding: 0.3rem 0.8rem;
    background-color: rgb(78, 175, 78);
}

.center{
    text-align: center;
}

.center img{
    width: 7rem;
    border-radius: 50%;
}

.center h2{
    margin: 0;
}
.center h4{
    margin: 0;
    padding-top: 0.5rem;
}
.center p{
    margin: 0;
    padding: 0.5rem;
}

.center-btn{
    display: flex;
    justify-content: space-evenly;
}

.center-btn button{
    padding: 0.4rem 0.8rem;
    border: 2px solid rgb(198, 198, 198);
    border-radius: 1rem;
    cursor: pointer;
}
.center p{
    padding: 0.5rem 0.8rem;
}
.bottom{
    padding-bottom: 1rem;
}
.bottom a{
    font-weight: 600;
    color: rgb(78, 74, 74);
    cursor: pointer;
}